*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 10px;
    overflow: hidden;
    background-color: black;
}

canvas{
    background-color: black;
    position: relative;
}

p{
    color: white; 
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}